section {
    display: flex;
    flex-flow: column;
    height: 100vh;
  }
  
  header {
    background: tomato;
    /* no flex rules, it will grow */
  }
  
  div {
    flex: 1;
    /* 1 and it will fill whole space left if no flex value are set to other children*/
    background: #fff;  /*color in between cards*/
    overflow: auto;
  }
  
  footer {
    background: #222;
    min-height: 60px;
    text-align: center;
    padding: 20px;
    color: aliceblue;
    /* min-height has its purpose :) , unless you meant height*/
  }
  
  body {
    margin: 0;
  }

 .readmore{
      color: #006d6d;
      text-align: right;
  }

  .category{
    font-style: italic;
  }

  