.labour{
    background-image: url("/assets/images/labour2.jpg");
    background-size: cover;
}

.share{
    display: flex;
    justify-content: center;
    background-color: #222;
}

.gmail{
    content: url("assets/icons/gmail.png");
}

.facebook{
    content: url("assets/icons/facebook.png");
}

.instagram{
    content: url("assets/icons/twitter.png");
}

.twitter{
    content: url("assets/icons/instagram.png");
}